apiVersion: v1
kind: ConfigMap
metadata:
  name: cloud-provider-config
  namespace: {{ .Release.Namespace }}
data:
  cloudprovider.conf: |
    {{- include "azure-credentials" . | indent 4 }}
    {{- include "cloud-provider-config" . | indent 4 }}